<head>
</head>
<body class="center bg2 max">
<div id="main">
<h1 class="tab blink">Hello World! Welcome to my website! My IP is: {{ hostvars[inventory_hostname].public_ip_address }}</h1>
<img class="intro" id="about" src="https://i.imgur.com/VzhrVJt.gif">
<h2>As you can see, I was 100%, totally legit a full stack web developer in a previous life. Here are some derpy boys.</h2>
</div>
<footer id="footer">
<img src="https://i.imgur.com/i6hvJjx.gif">
<a href="https://imgur.com/5TXkTZ2"><img src="https://i.imgur.com/5TXkTZ2.jpg" title="source: imgur.com" style="width:500px" /></a>
</footer>
</body>

