<HTML>
   <HEAD>
      <TITLE>This is a cool website! My IP is: </TITLE>
   </HEAD>
   <BODY>
     <h3>Hello world!</h3>
     <p>As you can see, I was 100% a full stack web developer in a previous life. Here are some derpy boys.<p></br>
     <img src="https://cloud.figtreehosting.co.uk/index.php/s/oaZjweMF2bCmTm6" alt="Italian Trulli">
   </BODY>
</HTML>
