<HTML>
   <HEAD>
      <TITLE>DERP!</TITLE>
      <h1>This is a cool website! My IP is: {{ hostvars[inventory_hostname].public_ip_address }}</h1>
   </HEAD>
   <BODY>
     <h3>Hello world!</h3>
     <p>As you can see, I was 100% a full stack web developer in a previous life. Here are some derpy boys.<p></br>
     <img src="https://photos.app.goo.gl/tpfwryHfgffa3rqx5" alt="Italian Trulli">
   </BODY>
</HTML>
